<% layout('/layouts/boilerplate') %>

    <h1 class="text-center">
        New Spot
    </h1>
    <div class="col-6 offset-3">
        <form action="/spotgrounds/<%=spot._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="spotgrounds[title]" value="<%= spot.title %>"
                    required>
                <div class="valid-feedback">
                    Looking Good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="spotgrounds[location]"
                    value="<%= spot.location %>" required>
                <div class="valid-feedback">
                    Looking Good!
                </div>
            </div>



            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" name="spotgrounds[description]" id="description" required>
                <%= spot.description %></textarea>
                <div class="valid-feedback">
                    Looking Good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="Price">Price</label>
                <div class="input-group ">
                    <span class="input-group-text" id="basic-addon1">$</span>

                    <input type="text" class="form-control" id="price" placeholder="0" name="spotgrounds[price]"
                        value="<%= spot.price %>" required>
                </div>
                <div class="valid-feedback">
                    Looking Good!
                </div>


                <div class="mb-3">
                    <label for="thumbnail" class="form-label">Add More Images</label>
                    <input class="form-control" type="file" id="thumbnail" name="thumbnail" multiple>
                </div>

                <div class="mb-3">
                    <% spot.thumbnail.forEach(function(thmb, i) { %>
                        <img src="<%= thmb.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">

                            <input type="checkbox" id="thumbnail-<%=i%>" name="deleteImages[]"
                                value="<%= thmb.filename %>">

                        </div>
                        <label for="thumbnail-<%=i%>">Delete?</label>

                        <% }) %>
                </div>

            </div>

            <button class="btn bg-info text-light">Update Spot</button>
            <a href="/spotgrounds" class="btn bg-danger text-light">Back</a>
        </form>
    </div>
    </div>