<% layout('/layouts/boilerplate') %>
    <h1>All spotGROUNDS</h1>
    
    <div>
        <a href="spotgrounds/new"> Add A Spot </a>
    </div>

    <% for (let spot of spotGrounds) { %>

        <div class="card mb-3">
            <a href="spotgrounds/<%= spot._id  %>">
            </a>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%=spot.thumbnail[0].url%>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= spot.title %>
                        </h5>
                        <p class="card-text">
                            <%= spot.description %>
                        </p>
                        <p class="card-text"><small class="text-muted">
                                <%= spot.location %>
                            </small></p>
                        <a href="spotgrounds/<%=spot._id%>" class="btn btn-primary "> View</a>
                    </div>

                </div>
            </div>

        </div>

        <% } %>